

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#eventLog {
  background: black;
  color: white;
  width: 400px;
  min-height: 225px;
  padding: 10px;
  margin-top: 20px;
  font-family: monospace;
  line-height: 1.5;
}

.wordwrap {
  white-space: pre-wrap;
  /* CSS3 */
  white-space: -moz-pre-wrap;
  /* Firefox */
  white-space: -pre-wrap;
  /* Opera <7 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* IE */
}

nav {
  margin-bottom: 25px;
}

nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
  font-family: Roboto,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
  font-weight: 400;
  letter-spacing: .5px;
  font-size: 15px;
  margin-right: 5px;
}
nav a:visited, a:link {
  color: #607D8B;
}
nav a:hover {
  color: white;
  background-color: #607D8B;
}
nav a.active {
  color: #039be5;
}

nav a.active-link {
    background:#607D8B;
    color: white;

}